* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(310deg, #171717, #272727);
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

header {
  grid-area: header;
  background-color: black;
}

nav {
  display: flex;
  justify-content: center;
  background-color: black;
  padding: 1em;
  height: auto;
  margin-right: 50%;
  margin-left: 50%;
}

nav a {
  text-decoration: none;
  color: white;
  text-align: justify;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
}

label {
  display: none;
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  gap: 3em;
  text-align: center;
  margin: 0;
  padding: 0;
}

ul a {
  padding: 0.5em;
  display: block;
  text-align: center;
}

ul a:hover {
  border-bottom: 2px solid #272727;
  border-radius: 8px;
}

.active {
  background-color: #272727;
  border-radius: 10px;
}

.header-img {
  overflow: hidden;
  object-fit: cover;
  margin-top: 4rem;
  margin-left: 4rem;
  margin-right: 4rem;
  width: 1100px;
  height: 600px;
  background-position: center;
  background-image: url(media/PL_-_deadlift_edited-1200.jpg);
  border-radius: 10px;
}

main {
  position: absolute;
  grid-area: main;
  background-color: #0a0a0c;
  color: white;
  margin-top: 25%;
  margin-left: 15%;
  border-radius: 10px;
}

.content {
  margin: 5%;
  width: 400px;
}

footer {
  margin-top: 2em;
  color: white;
  grid-area: footer;
  padding: 1rem;
  text-align: center;
  background-color: black;
}

@media screen and (max-width: 600px) {
  label {
    display: block;
  }
  ul {
    font-size: 1.2em;
    position: absolute;
    left: -100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #272727;
    gap: 2em;
    top: 60px;
    width: 100%;
    height: calc(100vh - 50px);
    transition: 0.5s;
  }
  input-[type="checkbox"]:checked ~ ul {
    right: 0;
  }
}
