* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(310deg, #171717, #272727);
  background-repeat: no-repeat;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

header {
  grid-area: header;
  background-color: black;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
  display: block;
}

nav a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
}

input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
}

label {
  display: none;
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 3em;
}

ul a:hover {
  border-bottom: 2px solid white;
  border-radius: 10px;
}

.active {
  background-color: #272727;
}

.header-img {
  display: block;
  overflow: hidden;
  object-fit: cover;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 1600px;
  height: 800px;
  object-position: 0% 25%;
  background-image: url(media/PL_-_deadlift_edited-1200.jpg);
  border-radius: 10px;
}

main {
  position: absolute;
  grid-area: main;
  color: white;
  margin-top: 25%;
  margin-left: 15%;
  margin-bottom: 10%;
}

main h1 {
  font-family: "Arial Black", Helvetica, Arial, Lucida, sans-serif;
  font-size: 70px;
  margin-bottom: 1em;
  text-shadow: 2px 2px 7px #0a0a0c;
}

.intro-content {
  background-color: #0a0a0c;
  padding: 1em;
  width: 400px;
  border-radius: 10px;
  width: fit-content;
  max-width: 800px;
}

.intro-content h2 {
  font-size: 50px;
}

.intro-content p {
  margin-top: 3%;
  margin-right: 5%;
  font-size: 20px;
}

footer {
  margin-top: 2em;
  color: white;
  grid-area: footer;
  padding: 1rem;
  text-align: center;
  background-color: black;
}

@media screen and (max-width: 980px) {
  label {
    display: block;
    margin-right: 10%;
  }
  ul {
    font-size: 20px;
    position: absolute;
    border-radius: 10px;
    left: -100%;
    flex-direction: column;
    align-items: center;
    background-color: #272727;
    width: 20%;
    height: calc(100vh - 50vh);
    transition: 0.5s;
  }
  input[type="checkbox"]:checked ~ ul {
    left: 0;
  }
  .header-img {
    width: 800px;
    height: 400px;
  }
}
