* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background: linear-gradient(310deg, #171717, #272727);
  background-repeat: no-repeat;
  background-attachment: fixed;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
}

header {
  grid-area: header;
}

.navbar {
  overflow: auto;
  background-color: black;
  position: absolute;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  margin-bottom: 0;
  color: #ffffff;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.5px;
  text-underline-offset: 3px;
}

.navbar a.active {
  background-color: #0a0a0c;
  color: #ffffff;
}

main {
  position: absolute;
  grid-area: main;
  background-color: #0a0a0c;
  color: white;
  margin-top: 20%;
  margin-left: 30%;
  border-radius: 10px;
}

.header-img {
  margin-top: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  width: 90%;
  height: 70%;
  background-position: center;
  background-size: cover;
  background-image: url(media/PL_-_deadlift_edited-1200.jpg);
}

footer {
  margin-top: 2em;
  color: white;
  grid-area: footer;
  padding: 1rem;
  text-align: center;
  background-color: black;
}
